html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ac2024;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm {
  background-color: white;
  padding: 30px 20px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

h2 {
  color: #BC942D;
  text-align: center;
  margin-bottom: 20px;
  font-family: Helvetica, bold;
}

#loginForm img {
  align-self: center;
  margin-bottom: 20px;
}

#loginForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #f50000;
  border-radius: 3px;
  font-size: 14px;
}

#loginForm button {
  background-color: #BC942D;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#loginForm button:hover {
  background-color: #45a049;
}

#response {
  text-align: center;
  margin-top: 10px;
  color: #333;
}